<aside>
    <app-sidebar></app-sidebar>
</aside>
<main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ps ps--active-y">
    <app-header [data]="title"></app-header>
    <div class="container-fluid py-4">
        <div class="div_nany mb-4 mt-3">
            <h4>Notification</h4>
          </div>
        <div class="card mt-3">
            <div class="card-body">
                <div class="innr_body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="innr_srch">
                                <h4 class="mb-4">Select Main Notification Types</h4>
                                <mat-form-field appearance="fill">
                                    <mat-label>Food</mat-label>
                                    <mat-select [formControl]="toppings" multiple>
                                        <mat-select-trigger>
                                            {{toppings.value?.[0] || ''}}
                                            <span *ngIf="(toppings.value?.length || 0) > 1"
                                                class="example-additional-selection">
                                                (+{{(toppings.value?.length || 0) - 1}} {{toppings.value?.length === 2 ?
                                                'other' : 'others'}})
                                            </span>
                                        </mat-select-trigger>
                                        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="food_optn mb-4">
                        <h5 class="mb-3">
                            Food Options
                        </h5>
                        <div class="div_option d-flex justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="nnr_img me-4">
                                    <img src="assets/img/team-3.jpg" alt="">
                                </div>
                                <div class="tym_inn d-flex align-items-center">
                                    <h4 class="me-2 mb-0">
                                        Time:
                                    </h4>
                                    <p class="mb-0 me-3">
                                        Today At 12:00AM
                                    </p>
                                    <i class="fa-solid fa-pencil clas_icon"></i>
                                </div>
                            </div>
                            <div class="text-center position-relative">
                                <button type="button" class="btn bg-gradient-info w-100 mt-4 mb-0"><i
                                        class="fa-solid fa-pen me-2"></i>Edit Image</button>
                                <input class="input_dgn" type="file">
                            </div>
                        </div>
                        <div class="div_btnn mt-5">
                            <div class="text-center d-flex align-items-center">
                                <button type="button" class="btn btn-primary w-100 mb-0 me-5"><i
                                        class="fa-solid fa-utensils me-2"></i>Food</button>
                                <button type="button" class="btn btn-primary outLine w-100 mb-0"><i
                                        class="fa-solid fa-bottle-water me-2"></i>Bottle</button>
                            </div>
                        </div>
                        <div class="div_btnn mt-4">
                            <div class="text-center d-flex align-items-center">
                                <button type="button" class="btn btn-primary outLine w-100 mb-0 me-3">Full</button>
                                <button type="button" class="btn btn-primary outLine w-100 mb-0 me-3">Most</button>
                                <button type="button" class="btn btn-primary outLine w-100 mb-0 me-3">Half</button>
                                <button type="button" class="btn btn-primary outLine w-100 mb-0 me-3">Small
                                    portion</button>
                            </div>
                        </div>
                        <div class="meal_type mt-5">
                            <h4 class="mb-3">Meal Type</h4>
                            <div class="div_meal d-flex">
                                <div class="w-100">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Meal Type</mat-label>
                                        <mat-select [formControl]="toppings" multiple>
                                            <mat-select-trigger>
                                                {{toppings.value?.[0] || ''}}
                                                <span *ngIf="(toppings.value?.length || 0) > 1"
                                                    class="example-additional-selection">
                                                    (+{{(toppings.value?.length || 0) - 1}} {{toppings.value?.length ===
                                                    2 ? 'other' : 'others'}})
                                                </span>
                                            </mat-select-trigger>
                                            <mat-option *ngFor="let topping of toppingList" [value]="topping">
                                                {{topping}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div
                                    class="div_items_meal d-flex align-items-center justify-content-between w-100 ml-3">
                                    <h4 class="itms_mk">Meal Itemsss</h4>
                                    <div class="div_col">
                                        <i class="fa-solid fa-circle-plus"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="comments_food">
                                <h4 class="itms_mk">Other Comments</h4>
                                <textarea name="" class="form-control" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="food_optn food_optn1 mb-4">
                        <h5 class="mb-3">
                            Nap Options
                        </h5>
                        <div class="div_option d-flex justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="nnr_img me-4">
                                    <img src="assets/img/team-3.jpg" alt="">
                                </div>
                                <div class="tym_inn d-flex align-items-center">
                                    <h4 class="me-2 mb-0">
                                        Time:
                                    </h4>
                                    <p class="mb-0 me-3">
                                        Today At 12:00AM
                                    </p>
                                    <i class="fa-solid fa-pencil clas_icon"></i>
                                </div>
                            </div>
                            <div class="text-center position-relative">
                                <button type="button" class="btn bg-gradient-info w-100 mt-4 mb-0"><i
                                        class="fa-solid fa-pen me-2"></i>Edit Image</button>
                                <input class="input_dgn" type="file">
                            </div>
                        </div>
                        <div class="div_btnn mt-5">
                            <div class="text-center d-flex align-items-center">
                                <button type="button" class="btn btn-primary w-100 mb-0 me-5"><i
                                        class="fa-solid fa-hourglass-start me-2"></i>Nap Start</button>
                                <button type="button" class="btn btn-primary outLine w-100 mb-0"><i
                                        class="fa-solid fa-hourglass-end me-2"></i>Nap End</button>
                            </div>
                        </div>
                    </div>
                    <div class="food_optn food_optn2 mb-3">
                        <h5 class="mb-3">
                            Diaper/Toilet
                        </h5>
                        <div class="div_btnn mt-3">
                            <div class="text-center d-flex align-items-center">
                                <button type="button" class="btn btn-primary w-100 mb-0 me-5"><i
                                        class="fa-solid fa-hourglass-start me-2"></i>Diaper</button>
                                <button type="button" class="btn btn-primary outLine w-100 mb-0"><i
                                        class="fa-solid fa-hourglass-end me-2"></i>Toilet</button>
                            </div>
                        </div>
                        <div class="div_btnn Diaper mt-4">
                            <h5 class="mb-3">
                                Diaper
                            </h5>
                            <div class="text-center d-flex align-items-center">
                                <button type="button" class="btn btn-primary outLine w-100 mb-0 me-3">Wet</button>
                                <button type="button" class="btn btn-primary outLine w-100 mb-0 me-3">Potty</button>
                                <button type="button" class="btn btn-primary outLine w-100 mb-0 me-3">dry</button>
                            </div>
                        </div>
                        <div class="div_btnn Toilet mt-4">
                            <h5 class="mb-3">
                                Toilet
                            </h5>
                            <div class="text-center d-flex align-items-center">
                                <button type="button" class="btn btn-primary outLine w-100 mb-0 me-3">Potty</button>
                                <button type="button" class="btn btn-primary outLine w-100 mb-0 me-3">Urine</button>
                            </div>
                        </div>
                        <div class="comments_food mt-4">
                            <h4 class="itms_mk">Note</h4>
                            <textarea name="" rows="5" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="food_optn food_optn3 mb-4">
                        <h5 class="mb-3">
                            Activity
                        </h5>
                        <div class="div_option d-flex justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="nnr_img me-4">
                                    <img src="assets/img/team-3.jpg" alt="">
                                </div>
                                <div class="tym_inn d-flex align-items-center">
                                    <h4 class="me-2 mb-0">
                                        Time:
                                    </h4>
                                    <p class="mb-0 me-3">
                                        Today At 12:00AM
                                    </p>
                                    <i class="fa-solid fa-pencil clas_icon"></i>
                                </div>
                            </div>
                            <div class="text-center position-relative">
                                <button type="button" class="btn bg-gradient-info w-100 mt-4 mb-0"><i
                                        class="fa-solid fa-pen me-2"></i>Edit Image</button>
                                <input class="input_dgn" type="file">
                            </div>
                        </div>
                        <div class="div_btnn mt-5">
                            <div class="text-center d-flex align-items-center">
                                <button type="button" class="btn btn-primary w-100 mb-0 me-5"><i
                                        class="fa-solid fa-play me-3"></i>Play Time</button>
                                <button type="button" class="btn btn-primary outLine w-100 mb-0"><i
                                        class="fa-solid fa-chalkboard-user me-3"></i>Learning Activity</button>
                            </div>
                        </div>
                        <div class="comments_food mt-4">
                            <h4 class="itms_mk">Other Comments</h4>
                            <textarea name="" class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="food_optn food_optn4 mb-4">
                        <h5 class="mb-3">
                            Outdoor
                        </h5>
                        <div class="div_option d-flex justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="nnr_img me-4">
                                    <img src="assets/img/team-3.jpg" alt="">
                                </div>
                                <div class="tym_inn d-flex align-items-center">
                                    <h4 class="me-2 mb-0">
                                        Time:
                                    </h4>
                                    <p class="mb-0 me-3">
                                        Today At 12:00AM
                                    </p>
                                    <i class="fa-solid fa-pencil clas_icon"></i>
                                </div>
                            </div>
                            <div class="text-center position-relative">
                                <button type="button" class="btn bg-gradient-info w-100 mt-4 mb-0"><i
                                        class="fa-solid fa-pen me-2"></i>Edit Image</button>
                                <input class="input_dgn" type="file">
                            </div>
                        </div>
                        <div class="comments_food mt-4">
                            <h4 class="itms_mk">Location</h4>
                            <textarea name="" class="form-control" rows="2"></textarea>
                        </div>
                        <div class="comments_food mt-4">
                            <h4 class="itms_mk">Note</h4>
                            <textarea name="" class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="food_optn food_optn5 mb-4">
                        <h5 class="mb-3">
                            Mood
                        </h5>
                        <div class="div_option d-flex justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="nnr_img me-4">
                                    <img src="assets/img/team-3.jpg" alt="">
                                </div>
                                <div class="tym_inn d-flex align-items-center">
                                    <h4 class="me-2 mb-0">
                                        Time:
                                    </h4>
                                    <p class="mb-0 me-3">
                                        Today At 12:00AM
                                    </p>
                                    <i class="fa-solid fa-pencil clas_icon"></i>
                                </div>
                            </div>
                            <div class="text-center position-relative">
                                <button type="button" class="btn bg-gradient-info w-100 mt-4 mb-0"><i
                                        class="fa-solid fa-pen me-2"></i>Edit Image</button>
                                <input class="input_dgn" type="file">
                            </div>
                        </div>
                        <div class="div_btnn mt-5">
                            <div class="text-center d-flex align-items-center">
                                <button type="button" class="btn btn-primary w-100 mb-0 me-3">Happy</button>
                                <button type="button" class="btn btn-primary outLine w-100 mb-0 me-3">Emotional</button>
                                <button type="button" class="btn btn-primary outLine w-100 mb-0">Crying</button>
                            </div>
                        </div>
                        <div class="comments_food mt-4">
                            <h4 class="itms_mk">Note</h4>
                            <textarea name="" class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="food_optn food_optn5 mb-4">
                        <h5 class="mb-3">
                            Health
                        </h5>
                        <div class="div_option d-flex justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="nnr_img me-4">
                                    <img src="assets/img/team-3.jpg" alt="">
                                </div>
                                <div class="tym_inn d-flex align-items-center">
                                    <h4 class="me-2 mb-0">
                                        Time:
                                    </h4>
                                    <p class="mb-0 me-3">
                                        Today At 12:00AM
                                    </p>
                                    <i class="fa-solid fa-pencil clas_icon"></i>
                                </div>
                            </div>
                            <div class="text-center position-relative">
                                <button type="button" class="btn bg-gradient-info w-100 mt-4 mb-0"><i
                                        class="fa-solid fa-pen me-2"></i>Edit Image</button>
                                <input class="input_dgn" type="file">
                            </div>
                        </div>
                        <div class="div_btnn mt-5">
                            <div class="text-center d-flex align-items-center">
                                <button type="button" class="btn btn-primary w-100 mb-0 me-3">Fine</button>
                                <button type="button" class="btn btn-primary outLine w-100 mb-0 me-3">Sick</button>
                                <button type="button" class="btn btn-primary outLine w-100 mb-0">Injured</button>
                            </div>
                        </div>
                        <div class="div_btnn mt-5">
                            <h4>Observations</h4>
                            <section class="example-section slct_nms" [formGroup]="toppings_1">
                                <p class="mb-0">
                                    <mat-checkbox formControlName="pepperoni">
                                        Fever
                                    </mat-checkbox>
                                </p>
                                <p class="mb-0">
                                    <mat-checkbox formControlName="extracheese">Cough</mat-checkbox>
                                </p>
                                <p class="mb-0">
                                    <mat-checkbox formControlName="mushroom">Vomting</mat-checkbox>
                                </p>
                                <p class="mb-0">
                                    <mat-checkbox formControlName="mushroom">Skin Rash</mat-checkbox>
                                </p>
                            </section>
                        </div>
                        <div class="comments_food mt-4">
                            <h4 class="itms_mk">Note</h4>
                            <textarea name="" class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="food_optn food_optn6 mb-4">
                        <h5 class="mb-3">
                            Safety/Supplies
                        </h5>
                        <div class="div_option d-flex justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="nnr_img me-4">
                                    <img src="assets/img/team-3.jpg" alt="">
                                </div>
                                <div class="tym_inn d-flex align-items-center">
                                    <h4 class="me-2 mb-0">
                                        Time:
                                    </h4>
                                    <p class="mb-0 me-3">
                                        Today At 12:00AM
                                    </p>
                                    <i class="fa-solid fa-pencil clas_icon"></i>
                                </div>
                            </div>
                            <div class="text-center position-relative">
                                <button type="button" class="btn bg-gradient-info w-100 mt-4 mb-0"><i
                                        class="fa-solid fa-pen me-2"></i>Edit Image</button>
                                <input class="input_dgn" type="file">
                            </div>
                        </div>
                        <div class="comments_food mt-4">
                            <h4 class="itms_mk">Note</h4>
                            <textarea name="" class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>