<main class="">
    <section>
      <div class="page-header min-vh-85">
        <div class="container">
          
          
          <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-6 d-flex flex-column mx-auto">
              <div class="card card-plain mt-5">
                <div class="card-header pb-0 text-left bg-transparent">
                  <img class="logo-top mb-5" src="../assets/img/logos/superLOgo.png" alt="">
                  <h3 class="font-weight-bolder text-info text-gradient ">New Password</h3>
                  <p class="mb-0 white-space-nowrap">Enter your New Password.</p>
                </div>
                <div class="card-body">
                  <form role="form" [formGroup]="registerForm">
                    <label>New Password</label>
                    <div class="mb-3">
                        <input  type="password" class="form-control" formControlName="password" placeholder="Enter your New Password..." aria-label="Email" aria-describedby="email-addon">
                        <p *ngIf="
                        (
                          registerForm.get('password')?.touched ||
                          registerForm.get('password')?.dirty) &&
                          registerForm.get('password')?.invalid &&
                          registerForm.get('password')?.errors?.required
                      " class="text-danger">
                      *This field is required
                    </p>
                    <p *ngIf="
                        (
                          registerForm.get('password')?.touched ||
                          registerForm.get('password')?.dirty) &&
                          registerForm.get('password')?.invalid &&
                          registerForm.get('password')?.errors?.minlength
                      " class="text-danger">
                      *Password should be greater than or equal 8 characters
                  </p>
                    </div>
                    <label>Confirm Password</label>
                    <div class="mb-3">
                      <input formControlName="confirm_password" type="password" class="form-control" placeholder="Enter your confirm Password..." aria-label="Email" aria-describedby="email-addon">
                      <label *ngIf="
                      (registerForm.get('confirm_password')?.touched ||
                        registerForm.get('confirm_password')?.dirty) &&
                      registerForm.get('confirm_password')?.errors?.required
                    " class="text-danger">
                      *This field is required
                    </label>
                    <label *ngIf="
                        (registerForm.get('confirm_password')?.touched ||
                          registerForm.get('confirm_password')?.dirty) &&
                        registerForm.hasError('notSame') &&
                        !registerForm.get('confirm_password')?.errors?.required
                      " class="text-danger">
                      *Passwords do not match
                    </label>
                    </div>
                    <div class="text-center">
                      <button type="button" class="btn bg-gradient-info w-100 mt-4 mb-0"  (click)="submit()">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
                
                <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="    background-image: linear-gradient(102deg, #e9398c85, #02c4da87), url(../assets/img/nanny2.jpg);
                background-position: -109px 0px;
                background-repeat: no-repeat;
                position: relative !important;
                z-index: 999999999999999999;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>