.w-350 {
    width: 350px;
}

.no-focus:focus {
    border-color: none;
    box-shadow: none;
    border: 1px solid #c1c1c1;
    border-left: 1px solid #c1c1c1 !important;
    border-right: 1px solid #c1c1c1 !important;
}

.side_border{
    border-left: 2px solid #67748e8a;
    padding: 4px 10px;
}

.one_line{
    white-space: nowrap;
    width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.ntfn {
    // background-color: red;
    // position: relative;
}
.ntfn_icn {
    color: red;
    font-size: 6px;
    margin: -20px 0 0 6px;
    position: absolute;
}