.n-btn{
    background-color: #fff;
    border: none!important;
   }
   .n-btn:focus{
     border: none!important;
     outline: none!important;
   }
   .n-btn:focus-visible{
     border: none!important;
     outline: none!important;
   }